---
# Pillar values to use in minion states

koha:
  instance: name       # NB: instance name should be no more than 11 chars
  adminuser: admin
  adminpass: secret
  zebrauser: kohauser
  zebrapass: XXX
