# Koha instance kohadev Apache config.

# OPAC
<VirtualHost *:{{ OpacPort }}>
   <IfVersion >= 2.4>
      Define instance "{{ ServerName }}"
   </IfVersion>
   Include /etc/koha/apache-shared.conf
#  Include /etc/koha/apache-shared-disable.conf
#  Include /etc/koha/apache-shared-opac-plack.conf
   Include /etc/koha/apache-shared-opac.conf

   ServerName {{ ServerName }}
   SetEnv KOHA_CONF "/etc/koha/sites/{{ ServerName }}/koha-conf.xml"
   SetEnv PERL5LIB "/usr/share/koha/lib"
   SetEnv MEMCACHED_SERVERS ""
   SetEnv MEMCACHED_NAMESPACE ""
   AssignUserID {{ ServerName }}-koha {{ ServerName }}-koha

   # REST API configuration
   Alias "/api" "/usr/share/koha/api/v1/app.pl/api"
   <Directory /usr/share/koha/api>
     Options +ExecCGI +FollowSymlinks
     AddHandler cgi-script .pl
     #SetEnv MOJO_MODE "production"
     RewriteEngine On
     RewriteBase /api/
     RewriteCond %{REQUEST_FILENAME} !-f
     RewriteCond %{REQUEST_FILENAME} !-d
     RewriteCond %{DOCUMENT_ROOT}/../api/$1/app.pl -f
     RewriteRule ^(.*?)/.* $1/app.pl/api/$0 [L]
   </Directory>

   ErrorLog    /var/log/koha/{{ ServerName }}/opac-error.log
#  TransferLog /var/log/koha/{{ ServerName }}/opac-access.log
#  RewriteLog  /var/log/koha/{{ ServerName }}/opac-rewrite.log
</VirtualHost>

# Intranet
<VirtualHost *:{{ IntraPort }}>
   <IfVersion >= 2.4>
      Define instance "{{ ServerName }}"
   </IfVersion>
   Include /etc/koha/apache-shared.conf
#  Include /etc/koha/apache-shared-disable.conf
#  Include /etc/koha/apache-shared-intranet-plack.conf
   Include /etc/koha/apache-shared-intranet.conf
   
   ServerName {{ ServerName }}
   SetEnv KOHA_CONF "/etc/koha/sites/{{ ServerName }}/koha-conf.xml"
   SetEnv PERL5LIB "/usr/share/koha/lib"
   SetEnv MEMCACHED_SERVERS ""
   SetEnv MEMCACHED_NAMESPACE ""

   AssignUserID {{ ServerName }}-koha {{ ServerName }}-koha

   # REST API configuration
   Alias "/api" "/usr/share/koha/api/v1/app.pl/api"
   <Directory /usr/share/koha/api>
     Options +ExecCGI +FollowSymlinks
     AddHandler cgi-script .pl
     #SetEnv MOJO_MODE "production"
     RewriteEngine On
     RewriteBase /api/
     RewriteCond %{REQUEST_FILENAME} !-f
     RewriteCond %{REQUEST_FILENAME} !-d
     RewriteCond %{DOCUMENT_ROOT}/../api/$1/app.pl -f
     RewriteRule ^(.*?)/.* $1/app.pl/api/$0 [L]
   </Directory>

   ErrorLog    /var/log/koha/{{ ServerName }}/intranet-error.log
#  TransferLog /var/log/koha/{{ ServerName }}/intranet-access.log
#  RewriteLog  /var/log/koha/{{ ServerName }}/intranet-rewrite.log
</VirtualHost>
