#  /etc/syslog.conf	Configuration file for inetutils-syslogd.
#
#			For more information see syslog.conf(5) manpage.


auth,authpriv.*			/var/log/auth.log
cron.*					/var/log/cron.log
*.*;cron,auth,authpriv.none		-/var/log/syslog

#
# It was simpler to redirect all logs directly to docker pid 1 file descriptor
# for docker logs to pick it up
#
cron;\
	news.=crit;news.=err;news.=notice;\
	*.=debug;*.=info;\
	*.=notice;*.=warn	/proc/1/fd/1

