## KOHA GIT DEVELOPMENT VHOSTS

# OPAC
<VirtualHost *:8080>
  <IfVersion >= 2.4>
    Define instance "${KOHA_INSTANCE}"
  </IfVersion>
  #Include /etc/koha/apache-shared.conf
  #Include /etc/koha/apache-shared-opac-git.conf

  ServerName "${KOHA_INSTANCE}"
  DocumentRoot /kohadev/kohaclone/koha-tmpl
  

  <Directory "/kohadev/kohaclone">
  Options All
  AllowOverride All
  Require all granted
  Order deny,allow
  Allow from All
  </Directory>

  SetEnv KOHA_CONF "/etc/koha/sites/${KOHA_INSTANCE}/koha-conf.xml"
  SetEnv PERL5LIB "/kohadev/kohaclone"
  
  AssignUserID ${KOHA_INSTANCE}-koha ${KOHA_INSTANCE}-koha

  ScriptAlias /cgi-bin/koha/ "/kohadev/kohaclone/opac/"
  ScriptAlias /index.html "/kohadev/kohaclone/opac/opac-main.pl"
  ScriptAlias /search "/kohadev/kohaclone/opac/opac-search.pl"
  ScriptAlias /opac-search.pl "/kohadev/kohaclone/opac/opac-search.pl"

  RewriteCond %{QUERY_STRING} (.*?)(?:[A-Za-z0-9_-]+)=&(.*)
  RewriteRule (.+) $1?%1%2 [N,R,NE]
  RewriteRule ^/bib/([^\/]*)/?$ /cgi-bin/koha/opac-detail\.pl?bib=$1 [PT]
  RewriteRule ^/isbn/([^\/]*)/?$ /search?q=isbn:$1 [PT]
  RewriteRule ^/issn/([^\/]*)/?$ /search?q=issn:$1 [PT]

   ErrorLog    /var/log/koha/${KOHA_INSTANCE}/opac-error.log
#  TransferLog /var/log/koha/${KOHA_INSTANCE}/opac-access.log
#  RewriteLog  /var/log/koha/${KOHA_INSTANCE}/opac-rewrite.log
</VirtualHost>


# INTRANET
<VirtualHost *:8081>
  <IfVersion >= 2.4>
    Define instance "${KOHA_INSTANCE}"
  </IfVersion>
#  Include /etc/koha/apache-shared-intranet-plack.conf

  ServerName ${KOHA_INSTANCE}
  DocumentRoot /kohadev/kohaclone/koha-tmpl
  
  <Directory "/kohadev/kohaclone">
  Options All
  AllowOverride All
  Require all granted
  Order deny,allow
  Allow from All
  </Directory>

  <IfModule mod_gzip.c>
      mod_gzip_on yes
      mod_gzip_dechunk yes
      mod_gzip_keep_workfiles No
      mod_gzip_can_negotiate yes
      mod_gzip_update_static No
      mod_gzip_temp_dir /tmp
      mod_gzip_minimum_file_size 512
      mod_gzip_maximum_file_size 1000000
      mod_gzip_maximum_inmem_size 1000000
      mod_gzip_handle_methods GET POST
      mod_gzip_item_exclude reqheader "User-Agent: .*Mozilla/4\..*\["
      mod_gzip_item_exclude mime ^image/.*
      mod_gzip_item_exclude rspheader Content-Type:image/*
      mod_gzip_item_include file \.js$
      mod_gzip_item_include mime ^application/x-javascript$
      mod_gzip_item_include file \.php$
      mod_gzip_item_include mime ^text/html$
      mod_gzip_item_include file \.css$
      mod_gzip_item_include mime ^text/css$
  </IfModule>

  <IfModule mod_deflate.c>
      # Compress content with type html, text, and css, ...
      AddOutputFilterByType DEFLATE text/plain text/html text/xml text/css
      AddOutputFilterByType DEFLATE application/xml application/xhtml+xml application/rss+xml application/javascript application/x-javascript

      DeflateCompressionLevel 9

      # Properly handle old browsers that do not support compression
      BrowserMatch ^Mozilla/4 gzip-only-text/html
      BrowserMatch ^Mozilla/4\.0[678] no-gzip
      BrowserMatch \bMSIE !no-gzip !gzip-only-text/html

      DeflateFilterNote Input instream
      DeflateFilterNote Output outstream
      DeflateFilterNote Ratio ratio

      LogFormat '"%r" %{outstream}n/%{instream}n (%{ratio}n%%)' deflate
      <IfModule mod_headers.c>
         #properly handle requests coming from behind proxies
         Header append Vary User-Agent
      </IfModule>
  </IfModule>

  <IfModule mod_expires.c>
      ExpiresActive on
      ExpiresByType text/css "access plus 12 hours"
      ExpiresByType application/javascript "access plus 12 hours"
      ExpiresByType image/png "access plus 12 hours"
      ExpiresByType image/gif "access plus 12 hours"
  </IfModule>

  <IfModule mod_headers.c>
    # Erase any X-Koha-SetEnv headers from the client
    RequestHeader unset X-Koha-SetEnv
  </IfModule>

  Options +FollowSymLinks -Indexes


  ErrorDocument 400 /cgi-bin/koha/errors/400.pl
  ErrorDocument 401 /cgi-bin/koha/errors/401.pl
  ErrorDocument 403 /cgi-bin/koha/errors/403.pl
  ErrorDocument 404 /cgi-bin/koha/errors/404.pl
  ErrorDocument 500 /cgi-bin/koha/errors/500.pl

  RewriteEngine On
  SetEnv KOHA_CONF "/etc/koha/sites/${KOHA_INSTANCE}/koha-conf.xml"
  SetEnv PERL5LIB "/kohadev/kohaclone"
  
  AssignUserID ${KOHA_INSTANCE}-koha ${KOHA_INSTANCE}-koha

  ScriptAlias /cgi-bin/koha/ "/kohadev/kohaclone/"
  ScriptAlias /index.html "/kohadev/kohaclone/mainpage.pl"
  ScriptAlias /search "/kohadev/kohaclone/search.pl"

  RewriteCond %{QUERY_STRING} (.*?)(?:[A-Za-z0-9_-]+)=&(.*)
  RewriteRule (.+) $1?%1%2 [N,R,NE]
  RewriteRule ^/bib/([^\/]*)/?$ /cgi-bin/koha/detail\.pl?bib=$1 [PT]
  RewriteRule ^/isbn/([^\/]*)/?$ /search?q=isbn:$1 [PT]
  RewriteRule ^/issn/([^\/]*)/?$ /search?q=issn:$1 [PT]

   ErrorLog    /var/log/koha/${KOHA_INSTANCE}/intranet-error.log
#  TransferLog /var/log/koha/${KOHA_INSTANCE}/intranet-access.log
#  RewriteLog  /var/log/koha/${KOHA_INSTANCE}/intranet-rewrite.log
</VirtualHost>
