DOMAIN="$KOHA_INSTANCE.deichman.no"  # Change this to be your domain.
INTRAPORT="8081"  # TCP listening port for the administration interface
INTRAPREFIX=""
INTRASUFFIX=""
OPACPORT="8080"  # TCP listening port for the users' interface
OPACPREFIX=""
OPACSUFFIX=""
DEFAULTSQL=""
ZEBRA_MARC_FORMAT="normarc"  # Possible values are 'marc21', 'normarc' and 'unimarc'
ZEBRA_LANGUAGE="nb"  # Possible values are 'en', 'fr' and 'nb'
BIBLIOS_INDEXING_MODE="dom"
AUTHORITIES_INDEXING_MODE="dom"
USE_MEMCACHED="no"
MEMCACHED_SERVERS="127.0.0.1:11211"
MEMCACHED_PREFIX="koha_"
