[client]
host     = koha_mysql
user     = $KOHA_ADMINUSER
password = $KOHA_ADMINPASS
socket   = /var/run/mysqld/mysqld.sock

[mysql_upgrade]
host     = koha_mysql
user     = $KOHA_ADMINUSER
password = $KOHA_ADMINPASS
socket   = /var/run/mysqld/mysqld.sock
basedir  = /usr