<acsconfig xmlns="http://openncip.org/acs-config/1.0/">
<!-- above address gets nothing, it's just a namespace -->
  <error-detect enabled="true" />

<!--
  Set Net::Server::PreFork runtime parameters
  syslog_ident will identify SIP2 Koha server entries in syslog
  For OpenSolaris, add: syslog_logsock=stream
-->
  <server-params
    min_servers="$SIP_WORKERS"
    min_spare_servers='2'
    log_file='Sys::Syslog'
    syslog_ident='koha_sip'
    syslog_facility='local6'
    ipv='4'
  />

  <listeners>
<!-- vestigial HTTP, never implemented: just use the OPAC!
  <service
      port="0:8080/tcp"
      transport="http"
      protocol="NCIP/1.0" />
-->
    <service
      port="8023/tcp"
      transport="telnet"
      protocol="SIP/2.00"
      timeout="1800" />

<!-- external listener -->
    <service
      port="$SIP_PORT/tcp"
      transport="RAW"
      protocol="SIP/2.00"
      timeout="1800"
      client_timeout="1800" />
      <!--
        client_timeout: seconds to wait before disconnecting idle clients
        timeout:        seconds to wait before disconnecting failed logons
        -->
  </listeners>

  <accounts>
    <!-- example login
    <login encoding="utf8" id="$SIP_AUTOUSER1" password="$SIP_AUTOPASS1" delimiter="|" error-detect="enabled" institution="HUTL"
      checked_in_ok="1"                   : dont fail checkin on non checked out items
      send_patron_home_library_in_af="1"  : add home library to patron status
      av_field_template="[% accountline.description %] [% accountline.amountoutstanding | format('%.2f') %]"    : Fine items template
      validate_patron_attribute="MEROPPET"    : a patron attribute to validate patron against in patron information request.
                                                Anything but 1 in this fields means no access/not able to loan.
      >
        <screen_msg_regex find="Greetings from Koha." replace="Welcome to your library!" />
    </login>
    -->
    <login encoding="utf8" id="$SIP_AUTOUSER1" password="$SIP_AUTOPASS1" delimiter="|" error-detect="enabled" institution="HUTL" checked_in_ok="1">
        <screen_msg_regex find="Greetings from Koha." replace="Welcome to your library!" />
    </login>
    __TEMPLATE_DOOR_ACCOUNTS__
    __TEMPLATE_AUTOMAT_ACCOUNTS__
  </accounts>

<!--
Institution tags are for enabled branches.  There needs to be one
institution stanza for each institution named in the accounts above.
The implementation attribute is actually used to find the code to run,
in our case "ILS".
-->

<institutions>
    __TEMPLATE_INSTITUTIONS__
</institutions>
</acsconfig>
