# /etc/cron.d/deichman-koha-common
# local cron jobs
# m h dom mon dow user command

SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

##############
# Branch sync - trigger reindex of modified holding branches in RDF
##############
00 23 * * * root /cronjobs/update_holdingbranches.sh

##############
# Update item.replacementprice from marcxml
##############
10 23 * * * root /cronjobs/update_items_replacementprice.sh


##############
# NL - sync TO Koha
##############
20 23 * * *  root koha-foreach --enabled /usr/share/koha/bin/cronjobs/nl-sync-to-koha.pl -v -r

##############
# NL - sync FROM Koha
##############
0 * * * *  root koha-foreach --enabled /usr/share/koha/bin/cronjobs/nl-sync-from-koha.pl -v -r

##############
# Build Holds Queue
##############
*/15 * * * *  root koha-foreach --enabled /usr/share/koha/bin/cronjobs/holds/build_holds_queue.pl

##############
# Anonymize patron history
# First creates stats and populates anonymous_stats table
# then moves history in old_issues to syspref AnonymousPatron or NULL if not set
#   --days	days to keep history
##############
40 23 * * *   root koha-foreach --enabled /cronjobs/anonymous_stats.sh --days 3
55 23 * * *   root koha-foreach --enabled /usr/share/koha/bin/cronjobs/batch_anonymise.pl --days 3 -v

##############
# Long overdue - 02:00 every night
# Settings for long overdue are in sysprefs, but does not seem to be working (as of 04.10.2016),
# therfore setting specifically here.
# 	--confirm		actually handle overdues
#   --lost 35=12    set item status to "Forlengst forfalt" (code: 12) after 35 days.
#   --charge 12		charge patron for items set to Forlengst forfalt (code: 12)
##############
0 2 * * *    root koha-foreach --enabled /usr/share/koha/bin/cronjobs/longoverdue.pl --lost 35=12 --charge 12 --confirm

##############
# Process notice with transport type 'print' to print service
#   --update_status  	set status to sent or failed
#   --print				send to print service
#   --save				save as pdf and html
#   --email				send attachments to this email
#   --url				url of print service 			$ENV{'PIDGEON_URL'}
#   --user				username of print service 		$ENV{'PIDGEON_USER'}
#   --pass				password of print service		$ENV{'PIDGEON_PASS'}
##############
20 2 * * *  root koha-foreach --enabled /usr/share/koha/bin/cronjobs/brevdue.pl --update_status --print --url $PIDGEON_URL --user $PIDGEON_USER --pass $PIDGEON_PASS

##############
# Cancel expired holds waiting and unsuspend
##############
15 3 * * *  root koha-foreach --enabled /usr/share/koha/bin/cronjobs/holds/cancel_expired_holds.pl
45 3 * * *  root koha-foreach --enabled /usr/share/koha/bin/cronjobs/holds/auto_unsuspend_holds.pl

##############
# Run report overdue = 35 days report and send generated CSV by mail attachement
#   --to      email to receive report
#   -a        include as attachment
#   --format  format of report (csv,ods,html)
#   [id]      number of report
##############

35 2 * * *  root koha-foreach --enabled /usr/share/koha/bin/cronjobs/runreport.pl --to=benjamin.rokseth@kul.oslo.kommune.no --subject="`date +\%F -d 'yesterday'`_rapport_over_innleverte_medier_med_purring" -a --format=csv --store-results 25
#36 2 * * *  root koha-foreach --enabled /usr/share/koha/bin/cronjobs/runreport.pl --to=benjamin.rokseth@kul.oslo.kommune.no --subject="`date +\%F -d 'yesterday'`_sammendrag_innleverte_medier_med_purring" -a --format=csv --store-results 26
37 2 * * *  root koha-foreach --enabled /usr/share/koha/bin/cronjobs/runreport.pl --to=raakel.rosenborg@kul.oslo.kommune.no --subject="`date +\%F -d 'yesterday'`_rapport_over_innleverte_medier_med_purring" -a --format=csv 25
#38 2 * * *  root koha-foreach --enabled /usr/share/koha/bin/cronjobs/runreport.pl --to=raakel.rosenborg@kul.oslo.kommune.no --subject="`date +\%F -d 'yesterday'`_sammendrag_innleverte_medier_med_purring" -a --format=csv 26
